[ req ]
prompt             = no
distinguished_name = server_distinguished_name
req_extensions     = req_ext
x509_extensions	= v3_req
attributes		= req_attributes
 
[ server_distinguished_name ]
commonName              = imsry.cn
stateOrProvinceName     = Beijing
countryName             = CN
organizationName        = IMSRY Inc
organizationalUnitName  = IMSRY Free IT
 
[ v3_req ]
basicConstraints        = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
 
[ req_attributes ]
 
[ req_ext ]
subjectAltName      = @alternate_names
 
[ alternate_names ]
DNS.1        = imsry.cn
DNS.2        = *.imsry.cn